.filter-box {
  position: relative;
  background: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  width: 300px;
  height: auto;
  margin-top: -22px;
  right: 2px;
  padding: 10px 20px;
  text-align: left;
}
.filter-box li {
  font-size: 13px;
  list-style-type: none;
  margin-bottom: 5px;
}
