.banner-container {
	height: auto;
	min-height: 450px;
	width: 100%;
	min-width: 300px;
	padding-top: 80px;
	overflow-x: hidden;
	background-color: rgb(10, 10, 10);
}
.banner {
	width: 100%;
	margin: auto;
	height: auto;
	min-height: 480px;
	color: white;
	position: relative;
}
.banner-loader {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner-contents {
	max-width: 600px;
	width: 100%;
	margin-left: 5vw;
	margin-top: 100px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
.banner-title {
	font-size: 2.5rem;
	font-weight: 800;
	padding-bottom: 0.3rem;
	margin-bottom: 10px;
	text-shadow: black 2px 2px;
}
.banner-large-image-box {
	position: absolute;
	z-index: 0;
	height: 100%;
	right: 0;
	border-radius: 7px;
	opacity: 0;
	transform: translateX(100%);
	animation: fadeBanner 1s cubic-bezier(0, 0, 0.5, 1) forwards;
}
@keyframes fadeBanner {
	to {
		opacity: 1;
		transform: translateX(0%);
	}
}
.banner-large-image-box::after {
	content: '';
	position: absolute;
	z-index: 1;
	height: 100%;
	width: 100%;
	right: 0;
	box-shadow: 0px 0px 8px 0px rgb(10, 10, 10),
		inset 0px 0px 10px 15px rgb(10, 10, 10);
}
.banner-large-image-box::before {
	content: '';
	position: absolute;
	z-index: 1;
	height: 100%;
	width: 33%;
	left: 0;
	background: linear-gradient(to right, rgb(10, 10, 10), transparent);
}
.banner-description {
	line-height: 1.3;
	padding: 10px;
	font-size: 14px;
	width: 80%;
	max-width: 540px;
	min-height: 80px;
	border-radius: 8px;
	background: rgba(0, 0, 0, 0.315);
	text-shadow: black 1px 1px;
	transition: all 1s;
}
.banner-buttons {
	display: flex;
	margin-bottom: 10px;
}
.banner-button {
	cursor: pointer;
	transform: scale(1.3);
	background: rgba(0, 0, 0, 0.3);
	border-radius: 50%;
	transition: all 0.2s;
	margin-left: 10px;
	margin-top: 10px;
}
#banner-button-list {
	margin-left: 2rem;
	border-radius: 5px;
}
.banner-button:hover {
	transform: scale(1.25);
	box-shadow: 0px 0px 3px red;
}
.banner-interval-buttons-box {
	width: 200px;
	display: flex;
	justify-content: center;
	margin: 30px auto 20px;
	overflow: hidden;
}
.banner-interval-button {
	width: 35px;
	height: 2px;
	margin-right: 2px;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.2);
	position: relative;
}
.banner-interval-button-active::before {
	content: '';
	left: -100%;
	height: 100%;
	width: 100%;
	position: absolute;
	opacity: 0;
	background: #fff;
	animation: intervalSlide 250ms linear forwards;
}
@keyframes intervalSlide {
	to {
		left: 0%;
		opacity: 1;
	}
}
.trailer-message {
	text-align: center;
	margin-top: 20px;
	font-size: 13px;
}
@media (max-width: 640px) {
	.banner-container {
		padding-top: 120px;
	}
	.banner-contents {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 190px;
		margin: auto;
		width: 100vw;
		height: auto;
		padding-top: 0px;
		transition: none;
	}
	.banner-title,
	.banner-description,
	#banner-button-list {
		display: none;
	}
	.banner-container p {
		font-size: 14px;
	}
	.banner-button {
		transform: scale(1.4);
	}
	.banner-button:hover {
		transform: scale(1.35);
	}
}
